@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62b0f78d7d7916b081a7793e.62b0f78d879be4463e9d11f9.cp5pOsd.rcp.png");

@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/FontsFree-Net-SFProText-Semibold-1.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text-Light";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/SF-Pro-Text-Light.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Black";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/SF-Pro-Text-Black.otf") format("opentype");
}

.navbar {
  align-items: center;
  box-shadow: 0px 1px 0px #00000040;
  justify-content: space-between;
  display: flex;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.content {
  /* Content */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 35px;

  width: 100%;
  height: 230px;

  padding-top: 50px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.devoted-to-dem {
  /* Devoted to democracy. */

  width: 1399.79px;
  height: 120px;

  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 140.62%;
  /* or 135px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* gradient */

  background: linear-gradient(104.92deg, #0085FF 3.32%, #EA6CFF 87.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.subtitle {
  /* Subtitle */

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.62%;
  /* identical to box height, or 25px */

  display: flex;
  align-items: center;
  text-align: center;

  /* text gray */

  color: #6F7D8A;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.topButton {
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.trendingVote {
  /* Trending Vote */

  height: 32px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140.62%;
  /* or 34px */

  display: flex;
  align-items: center;
  text-align: center;

  /* text gray */

  color: #6F7D8A;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.voteCard {
  /* vote card */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 710px;
  height: 284px;

  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.topVoteImg {
  /* topVoteImg */
  width: 284px;
  height: 284px;

  background: #eeeeee;
  /* mix-blend-mode: normal; */
  border-radius: 10px 0px 0px 10px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.rightPart {
  /* right part */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 426px;
  height: 284px;


  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.topCard {
  /* top card */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 10px 20px 20px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.cardTitle {
  /* Vote for the protection of wildlife */
  height: 34px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140.62%;
  /* identical to box height, or 34px */

  display: flex;
  align-items: center;

  /* text gray */

  color: #6F7D8A;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.cardSubtitle {

  width: 396px;
  height: 63px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 140.62%;
  /* or 21px */

  display: flex;
  align-items: center;

  /* text gray */

  color: #6F7D8A;


  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.bottomCard {
  /* Bottom card */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 20px 20px;
  gap: 3px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.progressBar {
  /* progress bar */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  background-image: url("./assets/img/pbar.svg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.progressSection {
  /* progress section */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 30%;
  height: 57px;

  border-radius: 5px 0px 0px 5px;

  /* gradient */

  background: linear-gradient(104.92deg, #0085FF 3.32%, #EA6CFF 87.88%);

  /* Inside auto layout */

  flex: none;
  flex-grow: 1;
}

.progressTitle {
  /* Unique Votes */

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 140.62%;
  /* identical to box height, or 14px */

  display: flex;
  align-items: center;

  transform: translate(10%, 70%);

  color: #fff;

  background: linear-gradient(104.92deg, #0085FF 3.32%, #EA6CFF 87.88%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;

  position: absolute;
  z-index:100;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.progressCount {
  /* 18939 */

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 140.62%;
  /* or 28px */

  display: flex;
  align-items: center;

  transform: translate(10%, 70%);

  background: linear-gradient(104.92deg, #0085FF 3.32%, #EA6CFF 87.88%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;

  color: #fff;

  position: absolute;
  z-index:100;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.btnContainer {
  /* btnContainer */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 396px;
  height: 57px;

  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.btn {
  /* buttons */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  /* green */

  background: #06D6A0;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.btnText {
  /* 1 */
  width: 9px;
  height: 23px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 140.62%;
  /* identical to box height, or 22px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.page2 {
  width: 100%;
  margin-top: 135px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.page3 {
  /* Hero Center */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 200px 0px;
  gap: 50px;

  position: relative;
  width: 100%;
  height: 1320px;

  background: #FFFFFF;
}

.menu {
  /* Menu */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 852.5px;
  height: 50px;


  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.menuItem {
  /* Frame 79 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 198.12px;
  height: 50px;


  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.menuSelected {
  /* title */

  width: 97px;
  height: 22px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  display: flex;
  align-items: center;

  /* gradient */

  background: linear-gradient(104.92deg, #0085FF 3.32%, #EA6CFF 87.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.menuUnselected {
  /* title */
  width: 71px;
  height: 22px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  display: flex;
  align-items: center;

  /* Character/Title .85 */

  color: rgba(0, 0, 0, 0.85);


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
