.navbar {
  align-items: center;
  box-shadow: 0px 1px 0px #00000040;
  justify-content: space-between;
  display: flex;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logoBox {
  /* Logo */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.icon {
  width: 40px;
  height: 40px;
}
